@font-face {
    font-family: 'FontBleach';
    src: url('/font/FontBleach.woff') format('woff');
}


body
{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    
    background-image: url("bleach.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;

    font-family: 'FontBleach', sans-serif;

}

h2
{
    font-size: 48px;
    color: #ff0000;
    background-color: #0060b6;
    -webkit-text-stroke: white 1px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px;
}

iframe
{
    display: flex;
    justify-content: center;
    top: 150px;
    margin: 50px;
    
}

